* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  --primaryColour: #23232e;
  --darkPrimaryColour: #141418;
  --secondaryColour: rgb(4, 42, 75);

  --primaryTitleColour: black;
  --secondaryTitleColour: grey;

  --primaryTextColour: #b6b6b6;
  --secondaryTextColour: #df49a6;
  --altSecondaryTextColour: #4958df;
  --tertiaryTextColour: #ff7eee;
  --altTertiaryTextColour: #8b7eff;

  --primaryBackgroundColour: #fff;
  --secondaryBackgroundColour: beige;

  --primarySuccessColour: rgb(17, 218, 17);
  --secondarySuccessColour: rgb(0, 117, 0);
  --primaryErrorColour: tomato;
  --secondaryErrorColour: rgb(117, 20, 3);

  --primaryBorder: 0.1rem solid lightgrey;
  --secondaryBorder: 0.1rem solid var(--primaryBackgroundColour);
  --primaryShadowColour: rgba(0, 0, 0, 0.2);
  --secondaryShadowColour: rgba(0, 0, 0, 0.3);

  --primaryFatColour: #ffd433;
  --secondaryFatColour: #ffe582;
  --primaryCarbohydrateColour: #ff3f3f;
  --secondaryCarbohydrateColour: #ff9999;
  --primaryProteinColour: #3fafff;
  --secondaryProteinColour: #99f1ff;
  --primaryEthanolColour: #35ff38;
  --secondaryEthanolColour: #82ff84;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--primaryBackgroundColour);
}

/* #root {} */

.button {
  text-decoration: none;
  padding: 0.45rem;
  margin: 0.8rem;
  border-radius: 1rem;
  text-align: center;
  border: 0.1rem solid var(--darkPrimaryColour);
  color: var(--primaryBackgroundColour);
  background: var(--primaryColour);
  font-size: 1.1rem;
  min-width: 40%;
  box-shadow: 0 0 0.5rem 0.25rem var(--primaryShadowColour);
}

.button:hover {
  border: 0.1rem solid var(--darkPrimaryColour);
  color: var(--primaryBackgroundColour);
  background: var(--primarySuccessColour);
  box-shadow: 0 0 0.5rem 0.25rem var(--secondaryShadowColour);
}

.button:active {
  border: 0.1rem solid var(--primarySuccessColour);
  color: var(--primarySuccessColour);
  background: var(--primaryBackgroundColour);
}

.secondaryButton {
  padding: 0.35rem;
  margin: 0.6rem;
  border: 0.1rem solid var(--primaryColour);
  color: var(--primaryColour);
  background: var(--primaryBackgroundColour);
  min-width: 30%;
  font-size: 0.9rem;
}

.secondaryButton:hover {
  border: 0.1rem solid var(--primarySuccessColour);
  color: var(--primarySuccessColour);
  background: var(--primaryBackgroundColour);
}

.secondaryButton:active {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--primarySuccessColour);
}

.errorButton {
  border: 0.1rem solid var(--primaryErrorColour);
  color: var(--primaryErrorColour);
  background: var(--primaryBackgroundColour);
}

.errorButton:hover {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--primaryErrorColour);
}

.errorButton:active {
  border: 0.1rem solid var(--secondaryErrorColour);
  color: var(--secondaryErrorColour);
  background: var(--primaryBackgroundColour);
}

.deleteButton {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--primaryErrorColour);
}

.deleteButton:hover {
  border: 0.1rem solid var(--primaryErrorColour);
  color: var(--primaryErrorColour);
  background: var(--primaryBackgroundColour);
}

.deleteButton:active {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--secondaryErrorColour);
}

.successButton {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--primarySuccessColour);
}

.successButton:hover {
  border: 0.1rem solid var(--primarySuccessColour);
  color: var(--primarySuccessColour);
  background: var(--primaryBackgroundColour);
}

.successButton:active {
  border: 0.1rem solid var(--primaryBackgroundColour);
  color: var(--primaryBackgroundColour);
  background: var(--secondarySuccessColour);
}

.tinyButton {
  padding: 0;
  width: 0.5rem;
}

.thinButton {
  font-size: 0.5rem;
  padding: 0;
  height: 1rem;
}

.card {
  box-shadow: 0 0.25rem 0.5rem 0 var(--primaryShadowColour);
  transition: 0.3s;
  padding: 0.5rem;
  background: var(--primaryBackgroundColour);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  max-width: 95%;
  width: fit-content;
  margin: auto;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem 0 var(--primaryShadowColour);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input[type='number'] {
  -moz-appearance: textfield;
  text-align: center;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}
