.ingredients {
  --numberOfColumns: 8;
}

.meals {
  --numberOfColumns: 9;
}

.mealSummary {
  --numberOfColumns: 9;
}

.calorieSummary {
  --numberOfColumns: 7;
}

.column {
  grid-column: span 1;
}

.name-column {
  grid-column: span 2;
}

.title {
  font-weight: bold;
}

.bigTitle {
  font-size: 1.8rem;
  margin: 0.6rem;
}

.fullWidth {
  grid-column: span var(--numberOfColumns);
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--numberOfColumns), 1fr);
  text-align: center;
}

.subtitle {
  color: var(--secondaryTitleColour);
  font-size: 0.8rem;
}

.lineEmphasis {
  background: var(--secondaryBackgroundColour);
}

.inputLineEmphasis {
  background: var(--secondaryColour);
}

.inputLineEmphasis .editable {
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--darkPrimaryColour);
  background: var(--primaryBackgroundColour);
}

.fat {
  background: var(--secondaryFatColour);
}

.fat.editable {
  border-color: var(--primaryFatColour);
}

.carbohydrate {
  background: var(--secondaryCarbohydrateColour);
}

.carbohydrate.editable {
  border-color: var(--primaryCarbohydrateColour);
}

.protein {
  background: var(--secondaryProteinColour);
}

.protein.editable {
  border-color: var(--primaryProteinColour);
}

.ethanol {
  background: var(--secondaryEthanolColour);
}

.ethanol.editable {
  border-color: var(--primaryEthanolColour);
}

.row .readOnly {
  border: none;
}

input[type="text"].inheritBackground {
  background: inherit;
  border: none;
  text-align: center;
}

input[type="number"] {
  width: 1rem;
}

input[type="number"]:hover.readOnly,
input[type="number"]:focus.readOnly {
  -moz-appearance: textfield;
  cursor: default;
}

.tinyButton {
  width: 0.5rem;
}

select {
  cursor: pointer;
}

.newMeal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newMeal .button,
.newMeal select {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.newMeal select {
  min-width: 15%;
  width: 15rem;
}

.newMeal .button {
  min-width: 10%;
  width: 7rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.newMealContainer {
  max-width: 95%;
  width: fit-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.createMeal form {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  margin: 2rem;
}

.createMeal form .button {
  min-width: 5rem;
  margin: 0;
  font-size: 0.8rem;
}

.createMeal .mainButton {
  width: 20rem;
}

.input-pair {
  display: grid;
  grid-template-columns: 1fr;
}

.input-pair label {
  padding-left: 1rem;
}

.meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.delete,
.exit {
  margin: 0.3rem;
}

.delete {
  min-width: 5rem;
  padding: 0.1rem;
  font-size: 0.8rem;
}

.exit {
  min-width: 7rem;
  font-size: 0.9rem;
}
