.stages {
  --numberOfColumns: 3;
}

.row {
  display: grid;
  grid-template-columns: repeat(var(--numberOfColumns), 1fr);
  text-align: center;
}

.fullWidth {
  grid-column: span var(--numberOfColumns);
}

.column {
  grid-column: span 1;
}

.title {
  font-weight: bold;
}
