* {
  --transitionTime: 200ms;
}

.navbar {
  position: fixed;
  background: var(--primaryColour);
  transition: width var(--transitionTime) ease;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--primaryTextColour);
  text-decoration: none;
  filter: greyscale(100%) opacity(0.7);
  transition: var(--transitionTime);
}

.fa-primary,
.fa-secondary {
  color: var(--primaryTextColour);
  transition: var(--transitionTime);
}

.fa-primary {
  filter: brightness(90%);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: var(--primaryTextColour);
}

.nav-link svg {
  min-width: 2rem;
  max-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--darkPrimaryColour);
}

.nav-link:hover .fa-primary,
.navbar:hover .logo svg .fa-primary {
  color: var(--secondaryTextColour);
}

.nav-link:hover .fa-secondary,
.navbar:hover .logo svg .fa-secondary {
  color: var(--tertiaryTextColour);
}

.nav-current .fa-primary {
  color: var(--altSecondaryTextColour);
}

.nav-current .fa-secondary {
  color: var(--altTertiaryTextColour);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--secondaryTextColour);
  background: var(--darkPrimaryColour);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  display: flex;
  justify-content: center;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transitionTime);
  right: 0;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.navbar-sub {
  display: none;
}

.navbar-sub .nav-link {
  height: 3rem;
}

@media only screen and (max-width: 850px) {
  .navbar {
    height: 5rem;
    width: 100vw;
    top: 0;
    left: 0;
  }

  /* .mobile {
    bottom: 0;
    top: auto;
  } */

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .signedout .logo {
    display: block;
  }

  body {
    padding-top: 5rem;
    padding-left: 0;
  }

  .nav-item:hover .navbar-sub {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100vw;
    transition: var(--transitionTime);
    background: var(--primaryColour);
  }

  .nav-item:hover .navbar-sub .nav-item {
    display: inline-block;
  }

  .nav-item:hover .navbar-sub .link-text {
    display: block;
  }
}

@media only screen and (min-width: 850px) {
  .navbar {
    width: 5rem;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transitionTime);
  }

  .nav-item:hover .navbar-sub {
    display: block;
    transition: var(--transitionTime);
  }

  body {
    padding-left: 5rem;
    padding-top: 5rem;
  }
}

.signedout {
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
}

.signedout .logo {
  background: var(--primaryColour);
}

.signedout.navbar:hover {
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
}

.signedout .nav-link:hover {
  background: var(--primaryColour);
  transition: 0;
  filter: greyscale(0) opacity(0);
}

.signedout .nav-link {
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.signedout .link-text {
  display: block;
}
