.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.measurements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.measurement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.measureLabel {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.measureValue {
  color: black;
}
