.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	margin: 40px;
	padding: 10px;
	background: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#postTitle {
	padding: 0 0 0 10px;
	margin: 5px;
	word-wrap: break-word;
}

#postContent {
	margin: 10px;
	padding: 5px;
	word-wrap: break-word;
}

#postTime {
	text-align: end;
	font-size: smaller;
	color: grey;
}

.newCard {
	margin: 90px 40px 40px 40px;
}

.center {
	display: block;
	text-align: center;
}

.signCard {
	margin: 90px 40px 40px 40px;
	display: inline-block;
	width: 60%;
}

.formElement {
	display: inline-block;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 15px;
	border: 1px solid lightgrey;
}

#titleInput {
	width: 90%;
}

#contentInput {
	width: 90%;
	min-height: 100px;
	resize: none;
	height: unset;
}

#groupName {
	font-size: 30px;
	margin: 20px;
	font-weight: 800;
}

.secondaryButton {
	color: darkgrey;
	text-decoration: none;
}
