.blur {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.modal {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80vh;
}

.modal-container {
	margin: 10vh auto;
	background-color: white;
	width: 90vw;
	height: 80vh;
	border: 0.05rem solid lightgrey;
	padding: 2rem;
	overflow: scroll;
}
